<header class="navbar navbar-expand-lg site-nav sticky-top">
  <div class="container-xl">

    <!-- Brand -->
<a class="navbar-brand" href="/">
  <img src="/images/logo.png" alt="Boston Elite Doors">
</a>

    <!-- Mobile: phone + toggler -->
    <div class="d-flex align-items-center gap-2 ms-auto d-lg-none">
      <a href="tel:6175396365"
         class="btn btn-sm btn-primary"
         aria-label="Call Boston Elite Doors"
         onclick="gtag('event','phone_click',{location:'navbar_mobile'})">
        <i class="fa fa-phone me-1"></i>(617) 539-6365
      </a>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbar-menu"
              aria-controls="navbar-menu" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Nav collapse -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/reviews.html">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>

      <!-- Desktop right side -->
      <div class="navbar-nav d-none d-lg-flex align-items-center gap-3 ms-3">
        <a href="tel:6175396365"
           class="nav-link"
           style="white-space:nowrap;font-weight:700;"
           onclick="gtag('event','phone_click',{location:'navbar_desktop'})">
          <i class="fa fa-phone me-1"></i>(617) 539-6365
        </a>
        <a class="btn nav-quote" href="/#contact" style="white-space:nowrap;">
          Get A Free Estimate <i class="ti ti-arrow-right ms-1"></i>
        </a>
      </div>
    </div>

  </div>
</header>
